@function setMinHeight($height) {
  @return $height + 'px';
}

.cursor {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-question {
  cursor: help;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-none {
  cursor: not-allowed;
}

.min-h-70px {
  min-height: 70px;
}

.min-h-100px {
  min-height: 100px;
}

.min-h-130px {
  min-height: 130px;
}

.min-h-150px {
  min-height: 150px;
}

.min-h-200px {
  min-height: 200px;
}

.min-h-300px {
  min-height: 300px;
}

.min-h-400px {
  min-height: 400px;
}

.min-h-500px {
  min-height: 500px;
}
.min-h-600px {
  min-height: 600px;
}

.max-h-100px {
  max-height: 100px;
}

.h-100vh {
  height: 100vh;
}

.z-index-9 {
  z-index: 9;
}

.overlay {
  opacity: 0.4;
}

.pointer-none {
  pointer-events: none;
}

.min-h-500px {
  min-height: 500px;
}

.min-h-700px {
  min-height: 700px;
}

.mh-100vh {
  min-height: 100vh;
}

.min-width-50 {
  min-width: 50px;
}

.min-width-80 {
  min-width: 80px;
}

.item-select-bank {
  padding-left: 0.5rem;
  white-space: nowrap;
  position: relative;

  &:hover {
    color: #d89f00;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 70%;
    top: 15%;
    width: 3px;
    background: currentColor;
  }
}

.swal2-html-container .only-key-number {
  letter-spacing: 1rem;
}

.swal2-backdrop-show {
  z-index: 999999 !important;
}

.bg-payment-item {
  background-color: rgb(250, 250, 250);
}

.no-border {
  border: none !important;
}


.chat-typing {
  text-align: center;
  position: absolute;
  bottom: 4.5rem;
  width: 100%;
  padding: 0.25rem;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $primary;
}

.overflow-auto {
  overflow: auto
}
.modal-dialog.modal-xs {
  width: 400px !important;
  max-width: calc(100vw - 32px) !important;
  margin: 0 auto;
  .modal-content {
    position: absolute;
    top: 15%;
  }
}
.modal-backdrop {
  background-color: rgba(28, 43, 70, 0.4)
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

hr.dashed {
  border-top: 1px dashed #eaecef;
}

.ck-editor__editable_inline {
  min-height: 500px;
}

.w-6rem {
  width: 6rem;
}

.w-200 {
  width: 200px;
}

.position-relative {
  position: relative;
}

.modal-fullscreen {
  max-width: 100%;

  .modal-content {
    height: 100% !important;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 900px !important;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: 70vw !important;
  }
}

.swal2-popup {
  &:not(.swal2-modal) {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
}

.border {
  &-dashed {
    border: 0.5px dashed #0f192a;
  }

  &-dash-light {
    border: 0.5px dashed #d1d6db;
  }
}

.ribbon {
  position: absolute;
  top: -2rem;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px 5px 0 0;
  min-width: 100px;
  text-align: center;

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &-success {
    background-color: $success;
    color: $white;
  }

  &-danger {
    background-color: $danger;
    color: $white;
  }

  &-primary {
    background-color: $primary;
    color: $white;
  }
}

//
//.card {
//  &-with-ribbon {
//    &:before {
//      position: absolute;
//      top:2rem;
//      right:-0.5rem;
//      content: '';
//      background: #283593;
//      height: 28px;
//      width: 28px;
//      transform : rotate(45deg);
//    }
//    &:after{
//      position: absolute;
//      content: attr(data-label);
//      top: 11px;
//      right: -14px;
//      padding: 0.5rem;
//      width: 10rem;
//      background: #3949ab;
//      color: white;
//      text-align: center;
//      font-family: 'Roboto', sans-serif;
//      box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
//    }
//  }
//}
.swal2-input {
  &::placeholder {
    color: $text-muted;
  }
}

.toword:first-letter {
  text-transform: capitalize !important;
}

.w-100vh {
  width: 100vh !important;
}

.awn-toast-wrapper {
  padding: 22px 0px 16px 16px !important;
}

.text-break-word {
  word-break: break-word;
}

.text-break-word-all {
  word-break: break-all;
}

.text-break-spaces {
  white-space: break-spaces;
}

.awn-popup-confirm {
  i.fa {
    display: none !important;
  }

  .awn-popup-title {
    margin-bottom: 0.75rem;
    border-bottom: 0.3px solid black;
  }
}

/*

*/
.toast-container {
  position: fixed;
  padding: 0 15px;
  min-width: 200px;
  max-width: 380px;
  z-index: 99999;
}

.popover-header {
  padding: 1rem 0.75rem;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
  color: var(--vsc-bg-header);
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  letter-spacing: 0.5px;
}

.nk-menu-link {
  &:not(.router-link-active) {
    color: #6e82a5 !important;
  }
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.swal2-html-container {
  &.has-qrcode {
    display: block;
    text-align: left;
    line-height: 1.4;
    font-size: 1rem;

    .qrcode {
      float: left;
      margin-right: 1rem;
    }
  }
}
.invalid-feedback {
  display: block !important;
}
